.slider-container{
    height: 15em;
    padding: 15px 10px 20px 20px;

}



.slider{
    position: relative;
}

.slider .prev_arrow {
    position: absolute;
    cursor: pointer;
    bottom: -20px;
}

.slider .next_arrow{
    cursor: pointer;
    position:absolute;
    bottom: -20px;
    right: 50px;

}
.slider .slider_items{

}

.slider .slick-initialized .slick-slider{
    height: 217rem;
}

.slider-photo{
    height: 150px;
    width: fit-content;
    position: absolute;
    border-radius: 25px;
    z-index: -1;
    
}
.slick-list{
    height: 150px;
}

#firstContainer{
    padding-top: 80px;
}