.slider-container{
    height: 10em;
    border: 1px solid black;
    padding: 15px 10px 20px 20px;

}



.slider{
    position: relative;
}

.slider .prev_arrow{
    
    cursor: pointer;
}
.slider .slider_items{

}

.slider .slick-initialized .slick-slider{
    height: 217rem;
}

.slider-photo{
    max-width: 200%;
    max-height: 200%;
    position: absolute;
    border-radius: 25px;
    z-index: -1;
}
.slick-list{
    height: 80px;
}

#firstContainer{
    padding-top: 80px;
}